body {
    background:  #121212;
    color: white;
    font-family: "Body Regular", Arial, sans-serif;
    text-align: left;
    padding: 50px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    text-align: center;
}

.card {
    display: flex;
    align-items: center;
    gap: 30px;
    border: 3px solid black;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.card img.logo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    display:left;
}

.card-content h1 {
    font-size: 60px;
    margin: 0;
}

.card-content p {
    font-size: 20px;
    margin: 5px 0;
}

.card-content .desc {
    margin-top: 20px;
    max-width: 700px;
    line-height: 1.3;
}

.btn {
    display: inline-block;
    border: 3px solid rgb(236, 232, 232);
    padding: 10px 30px;
    font-size: 22px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    transition: .2s;
}

.btn:hover {
    transform: scale(1.05);
}
